*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #010018;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
  padding: 15px 30px;
  
}

nav div:first-child p{
    font-size: 24px;
    font-weight: bold;
    color: #f7bb05;
}

.navbar{
    display: flex;
    gap: 20px;
}

.navbar a{
    color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar a:hover{
    color: #88c0e8;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    /* min-height: 100vh; */
}

.home .title{
    flex: 1;
    padding-right: 40px;
    color: white;
}

.home .title p:first-child{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.home .title p:first-child span{
    color: #5eadf1;
}

.home .title p:nth-child(2){
    font-size: 22px;
    font-weight: 600;
    color: #e5ea58;
    margin-bottom: 15px;

}

.home .title p:nth-child(3){
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}

.home .image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .image img{
    width: 450px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.resumeBtn{
    display: inline-block;
    padding: 12px 24px;
    background-color: #02353c;
    
  
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.resumeBtn a{
      text-decoration: none;
      color: white;
}

/* projects section */

.projects{
    padding: 20px 10%;
   
    text-align: center;
}

.projects h2{
    font-size: 32px;
    margin-bottom: 40px;
    color: #fff;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.project{
    background-color: #c9dbe1;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex: 1 1 calc(33% - 30px);
    padding: 20px;
    transition: transform 0.3s ease;
}

.projects:hover{
    transform: translateY(-5px);
}

.project img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project h3{
    font-size: 20px;
    margin-bottom: 10px;
color: #06397d;
}

.project p{
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

.project a{
    display: inline-block;
    padding: 8px 16px;
    background-color: #00bcd4;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s ease;

}

.project a:hover{
    background-color: #0097a7;
}


/* About Section */
.about {
    padding: 60px 10%;
    color: white;
    /* background-color: #020c1b; */
    text-align: center;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
}

.about p {
    font-size: 20px;
    line-height: 1.6;
    color: #ccc;
}

/* Skills Section */
.skills {
    padding: 60px 10%;
    /* background-color: #031226; */
    text-align: center;
}

.skills h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
}

.skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

.skills li {
    background-color: #6fa20a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/* Contact Form */
.contact {
    padding: 60px 10%;
    background-color: #010018;
    text-align: center;
    color: white;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input, .contact textarea {
    padding: 12px;
    border-radius: 6px;
    border: none;
    background-color: #2f2c2cee;
    color: white;
}

.contact button {
    padding: 12px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #0097a7;
}

/* Connect Section */
.connect {
    padding: 40px 10%;
    background-color: 	#20263e;
    text-align: center;
    color: white;
}

.connect h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #00bcd4;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #88c0e8;
}
